.containerDetail {
    background: url('../../images/BackgroundDetail.jpg');
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.infoDetail {
    display: flex;
    justify-content: flex-end;
}

.cardPokemon {
    display: flex;
    flex-direction: column;
    background-color: var(--color-06);
    width: 550px;
    height: 640px;
    gap: 25px;
    border-radius: 30px;
}

.idNamePokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-07);
    padding: 10px 10px 10px 15px;
    border-radius: 30px;
}

.iconBack {
    display: flex;
    align-items: center;
    transform: scale(1.2);
}

.iconBack:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    background-color: var(--color-11);
    border-radius: 50px;
    cursor: pointer;
}

.idNamePokemon h1 {
    text-transform: capitalize;
}

.imagePokemon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePokemon img {
    margin-top: -30px;
    filter: drop-shadow(7px 8px 5px var(--color-09));
    width: 270px;
}

.typesPokemon {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.statsPokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.statsPokemon p {
    font-size: 18px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* --------------- RESPONSIVE ---------------- */
/* --------------- Phones --------------- */
@media screen and (max-width: 767px) {
    .infoDetail {
        justify-content: center;
    }

    .cardPokemon {
        height: 600px;
        gap: 20px;
    }
}

/* --------------- Tablets --------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .infoDetail {
        justify-content: center;
        padding-top: 100px;
    }

    .cardPokemon {
        width: 600px;
        height: 700px;
        gap: 30px;
    }

    .statsPokemon p {
        font-size: 20px;
    }
}