.containerSearchBar,
.containerSearchBar i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerSearchBar {
    position: relative;
    width: 200px;
    height: 30px;
}

.containerSearchBar i {
    right: 10px;
    position: absolute;
}

.containerSearchBar i:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.containerSearchBar input {
    background-color: var(--color-20);
    color: var(--color-00);
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: 2px solid var(--color-17);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.containerSearchBar input:focus {
    outline: 2px solid var(--color-17);
    border: none;
}

/* --------------- RESPONSIVE ---------------- */
/* --------------- Phones --------------- */
@media screen and (max-width: 1024px) {
    .containerSearchBar {
        width: 180px;
    }
}

/* --------------- Tablets --------------- */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .containerSearchBar {
        width: 280px;
    }

    .containerSearchBar input {
        font-size: 24px;
        border-radius: 40px;
    }
}