.containerPaginated,
.iconPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPaginated {
    flex-direction: row;
    gap: 5px;
    background-color: var(--color-19);
    width: auto;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

.page {
    width: 30px;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: var(--color-19);
    color: var(--color-15);
    border: none;
}

.page.isActive {
    border-radius: 10px;
    border: 3px solid var(--color-15);
}

.page:hover,
.iconPage:hover {
    cursor: pointer;
}