.containerLandingPage {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 30px;
}

.logoAndAccess,
.accessPokeball {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logoAndAccess img,
.imgPikachu img {
    width: 600px;
    margin-top: 30px;
    filter: drop-shadow(5px 5px 5px var(--color-00));
}

.accessPokeball img {
    width: 180px;
}

.accessPokeball img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.accessPokeball h1 {
    display: inline-block;
    position: relative;
    color: var(--color-14);
    font-size: 35px;
}

.accessPokeball h1:hover {
    color: var(--color-21);
}

.accessPokeball h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: var(--color-21);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.accessPokeball h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* --------------- RESPONSIVE ---------------- */
/* --------------- Phones --------------- */
@media screen and (max-width: 767px) {
    .containerLandingPage {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 20px 0 20px;
    }

    .logoAndAccess img {
        width: 330px;
    }

    .imgPikachu img {
        display: none;
    }

    .accessPokeball img {
        width: 100px;
    }

    .accessPokeball h1 {
        font-size: 30px;
    }
}

/* --------------- Tablets --------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .containerLandingPage {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 20px 20px 0 20px;
    }

    .logoAndAccess img {
        width: 600px;
    }

    .imgPikachu img {
        width: 320px;
    }

    .accessPokeball img {
        width: 150px;
    }
}